body { background:#111; color:#eee; font-family:sans-serif; }
label { color:#0ff; text-align: center;}
select {
  width:80px;
  height: 30px;
  background: #222;
  color: #aaa;
  font-size: 12px;
}

.knob {
    display:flex;
    flex-direction:column;
    width: 58px;
    height: 70px;
}
.fader {
  /* margin-top:30px; */
  margin-left: 0px;
  transform: rotate(-90deg);
  width: 60px;
  height: 60px;
}
.select-container {
  display:flex;
  align-items: center;
  height: 60px;
}


.coords { font-family:monospace; color:#0ff; margin-top:8px; }
.disp-val1 { position: absolute; left: 118px; top: 350px;}
.disp-val2 { position: absolute; left: 192px; top: 350px;}
.version { color:#888; font-size:12px; }
.footer { color: #666;  font-size: 11px; }

.container {
  position: relative;
  height: 450px;
  font-size:12px;
}

.control-container {
  position: absolute;
  z-index: 3;
}

.control-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.operation {
  padding-top: 4px;
  font-size: 13px;
  color: #eee;
  font-weight: bold;
}

.row-label {
  width: 80px;
  padding-top: 4px;
  font-size: 13px;
  color: #eee;
  font-weight: bold;
}

.controls {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}


.waveform-buttons {
  display: flex;
  gap: 10px;
}

.waveform-btn {
  width: 60px;
  height: 36px;
  border: 1px solid #555;
  background: #222;
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
}

.waveform-btn.active {
  background: #044;
  color: #0ff;
}

.waveform-btn.playing {
  background: #0a4;
  color: #fff;
  box-shadow: 0 0 8px #0f8;
}

.key-buttons {
  display: flex;
  gap: 6px;
}

.key-btn {
  width: 36px;
  height: 36px;
  border: 1px solid #555;
  background: #222;
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
}

.key-btn.active {
  background: #044;
  color: #0ff;
}

.key-btn.note-on {
  background: #0a4;
  color: #fff;
  box-shadow: 0 0 8px #0f8;
}

.start-btn {
  width: 80px;
  height: 36px;
  border: 1px solid #555;
  background: #222;
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
}

.start-btn.active {
  background: #044;
  color: #0ff;
}

.canvas-container {
  display:flex;
  position: relative;
  width: 630px;
  height: 220px;
  gap:6px;
  margin-top:20px;
}

.canvasA { background:#000; border:1px solid #333; display:block; }
.canvasB { background: transparent; border:0; display:block; }

#worldCanvas {
  position: absolute;
  left: 0;
  top: -430px;
  z-index: 2;
  opacity: 0.7;
  touch-action: none;
}

#fft {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#xy {
  position: absolute;
  left: 200px;
  top: -20px;
  z-index: 1;
}

#scope {
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 1;
}
