body { background:#111; color:#eee; font-family:sans-serif; }
label { color:#0ff; }
select { width:133px; background: #222; color: #aaa; font-size: 12px; }

.knob { display:flex; flex-direction:column; font-size:12px; }
.coords { font-family:monospace; color:#0ff; margin-top:8px; }
.version { color:#888; font-size:12px; margin-bottom:6px; }

.control-row {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.operation {
  padding-top: 4px;
  font-size: 13px;
  color: #eee;
  font-weight: bold;
}

.row-label {
  width: 110px;
  padding-top: 4px;
  font-size: 13px;
  color: #eee;
  font-weight: bold;
}

.control-row .controls {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}


.waveform-buttons {
  display: flex;
  gap: 10px;
}

.waveform-btn {
  width: 60px;
  height: 36px;
  border: 1px solid #555;
  background: #222;
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
}

.waveform-btn.active {
  background: #044;
  color: #0ff;
}

.waveform-btn.playing {
  background: #0a4;
  color: #fff;
  box-shadow: 0 0 8px #0f8;
}

.key-buttons {
  display: flex;
  gap: 6px;
}

.key-btn {
  width: 36px;
  height: 36px;
  border: 1px solid #555;
  background: #222;
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
}

.key-btn.active {
  background: #044;
  color: #0ff;
}

.key-btn.note-on {
  background: #0a4;
  color: #fff;
  box-shadow: 0 0 8px #0f8;
}

.start-btn {
  width: 60;
  height: 36px;
  border: 1px solid #555;
  background: #222;
  color: #aaa;
  cursor: pointer;
  font-size: 12px;
}

.start-btn.active {
  background: #044;
  color: #0ff;
}

canvas { background:#000; border:1px solid #333; display:block; }

.canvas-container { display:flex; gap:6px; margin-top:8px; }

/*
.physics-container {
  position: relative;
  width: 400px;
  height: 400px;

}

#world {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

#xy {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0.55;
  pointer-events: none;
}
*/
